SUPABASE_URL=https://squxehimstkedjieiiog.supabase.co
SUPABASE_KEY=sb_publishable_AofZAKqpEDo9VRc8Z6VYXw_P_xrUepM
OWNER_PIN=1234
TELEGRAM_BOT_TOKEN=8545119601:AAEea_C7p_ykKKyeZJzjU6Cszg9Hgyo4s0Y
TELEGRAM_OWNER_CHAT_ID=387188429
APP_BASE_URL=http://localhost:8001
